<%- include('partials/header.ejs') %>

<div id="add-book-div">
    <form id="add-book-form" action="/add" method="post">
        <label for="isbn">ISBN</label>
        <br>
        <input type="text" name="isbn" placeholder="Insert ISBN">
        <br>
        <label for="title">TITLE</label>
        <br>
        <input type="text" name="title" placeholder="Insert title">
        <br>
        <label for="title">DATE READ</label>
        <br>
        <input type="date" name="dateRead">
        <br>
        <label for="rating">RATING:</label>
        <br>
        <select id="numero" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <br>
        <label for="summary">SUMMARY</label>
        <br>
        <textarea name="summary" id="summary" placeholder="Type your summary"></textarea>
        <br>
        <label for="notes">YOUR NOTES</label>
        <br>
        <textarea name="notes" id="notes" placeholder="Type your notes"></textarea>
        <br>
        <button class="btn btn-light rounded-pill px-3" type="submit">Add Book</button>
    </form>
</div>

<%- include('partials/footer.ejs') %>