<%- include('partials/header.ejs') %>
<!--Add new book button-->
<form action="/add-new-book" method="get">
    <button type="submit">Add new book</button>
</form>

<%- include('partials/footer.ejs') %>