img {
    height: 400px;
}

#add-book-form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

}
#add-book-div {
    display: flex;
    justify-content: center;
}


#header-div {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Espacio entre los elementos */
    padding-top: 50px; /* Añade espaciado alrededor del contenedor */
    padding-bottom: 50px;
}

#footer-div {
    justify-content: space-between;
    display: flex;
    padding: 10px;
}

#add-new-book-button {
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}

.book-data {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 50px 30px 50px;
}

.read-notes-btn, #edit-btn, #delete-btn {
    width: 100%;
}

#book-data-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#book-details {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

#edit-btn, #delete-btn {
    margin: 5px;
}